<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VueJS todo list</title>
    <meta name="author" content="https://github.com/voroncv">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body>
    
  <div class="header">
    <h3 class="text-muted">Admin Panel</h3>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-md-12">
      <h1>Create new</h1>
      <form>
        <div class="form-group">
        <input v-model="postsText" v-on:keyup.enter="newPosts" type="text" class="form-control" placeholder="Enter text">
        </div>
      </form>

        <h1>All</h1>
          <div class="list-group">
            <a v-for="post in posts" href="#" class="list-group-item" >{{ post }}
              <span class="pull-right">
                <button class="btn btn-xs btn-danger" v-on:click="removeElement(post)">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </span> 
            </a>
          </div>
        </div>
    </div>
  </div>
  
  <script src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
  <script src="main.js"></script>
</body>
</html>